@import '@/styles/variables/colors.scss';
@import '@/styles/variables/fonts.scss';


.buttonComponent {
    .button {
        @include p-desktop-default();
        background-color: transparent;
        border: 1px solid $black;
        border-radius: 37px;
        padding: 1rem 2.5rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        img {
            @include sizeIconDefault()
        }
    }
}