* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

body, input, textarea, button {
    font-family: "Cera Pro", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

@font-face {
    font-family: "Cera Pro";
    src: url("@/assets/fonts/cerapro-regular.otf") format("opentype");
    font-weight: 400;
}