@import '@/styles/variables/colors.scss';
@import '@/styles/variables/fonts.scss';

.headerContainer {
    height: 5rem;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .actionsMenu {
        display: flex;
        gap: 1.5rem;

        .actionOption {
            display: flex;
            flex-direction: column;
            align-items: center;

            cursor: pointer;

            .categoriesIcon {
                width: 2rem;
                height: 1.6875rem;
            }

            .searchIcon, .requestIcon {
                @include sizeIconDefault()
            }

            .categoryText, .actionText {
                font-size: 0.8125rem;
            }

            .categoriesIcon, .categoryText:hover {
                color: $blue-brand;
            }
        }
    }

    .brandLogo {
        width: 2.5rem;
        height: 2.5rem;

        &Drawer {
            padding: 1.25rem 1rem;
        }
    }
}

.brandLogoDrawer {
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1.25rem 1rem;

    .closeOutlinedIcon {
        cursor: pointer;
    }
}

#menu {
    margin-bottom: 2rem;

    .sectionMenu {
        .sectionOption {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            img {
                @include sizeIconDefault()
            }
        }
    
        .listItemButton {
            padding: 0.5rem 1rem;
        }
    
        .sectionBrand {
            text-align: center;
            align-items: center;
    
            border-top: 0.5px $blue-xlight solid;
    
            &:last-child {
                border-bottom: 0.5px $blue-xlight solid;
            }
        }
    }

    .sectionTitle {
        &::before {
            content: "";
            height: 0.5px;
            width: 1rem;
            background-color: black;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin-right: 7px;
        }
    }

    
}

@media (min-width: 1024px) {
    #menu {
        display: flex;
        flex-direction: row;

        .sectionMenuBrand {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}