@import '@/styles/variables/colors.scss';
@import '@/styles/variables/fonts.scss';

.headerContainer {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 5rem;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(5px);

    .actionsMenu {
        display: flex;
        gap: 1.5rem;

        .actionOption {
            display: flex;
            flex-direction: column;
            align-items: center;

            cursor: pointer;

            .categoriesIcon {
                width: 2rem;
                height: 1.6875rem;
            }

            .searchIcon, .requestIcon {
                @include sizeIconDefault();
            }

            .categoryText, .actionText {
                font-size: 0.8125rem;
            }

            :hover {
                color: $blue-brand;
            }
        }

        .contactAction {
            display: none;
        }
    }

    .brandLogo {
        width: 2.5rem;
        height: 2.5rem;

        &Drawer {
            padding: 1.25rem 1rem;
        }
    }

    .centerMenuCategories {
        display: none;
    }
}

.brandLogoDrawer {
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1.25rem 1rem;

    .closeOutlinedIcon {
        cursor: pointer;
    }
}

#menu {
    margin-bottom: 2rem;

    .sectionMenu, .sectionMenuBrand {
        .sectionOption {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            img {
                @include sizeIconDefault();
            }

            .sectionText {
                @include h4-desktop-default();
            }
        }
    
        .listItemButton {
            padding: 0.5rem 1rem;
            
            .themeText {
                @include p-large-desktop-default();
            }
        }
    
        .sectionBrand {
            text-align: center;
            align-items: center;
            border-top: 0.5px $blue-xlight solid;
    
            &:last-child {
                border-bottom: 0.5px $blue-xlight solid;
            }
        }
    }

    .sectionTitle {
        @include p-large-desktop-default();

        &::before {
            content: "";
            height: 0.5px;
            width: 1rem;
            background-color: black;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin-right: 7px;
        }
    }

    
}

@media (min-width: 1024px) {
    .headerContainer {
        padding: 0 7rem;

        .actionsMenu {
            .contactAction {
                display: flex;
            }
        }
    }

    #menu {
        display: flex;
        flex-direction: row;
        margin: 0;

        .brandLogoDrawer {
            padding-left: 7rem;
        }

        .sectionMenu {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .listItemButton {
                padding: 0 1rem 0 7rem;
                margin-right: 1rem;

                &::before {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: $blue-xlight;
                    transition: all 0.5s ease;
                }
                
                &:hover::before {
                    width: 100%;
                }
            }
        }

        .listMenu {
            height: 100vh;
            width: 40%;
        }

        .sectionMenuBrand {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0;

            .sectionBrand {
                align-content: center;
                border-left: 0.5px solid $blue-xlight;

                &:hover {
                    background-image: url('@/assets/backgrounds/backgroundHoverMenu.png');
                }
            }
        }
    }

    .sectionTitle {
        margin: 2.5rem 0 1.5rem;
        &::before {
            width: 7rem !important;        
        }
    }
}

@media (min-width: 1440px) {
    .headerContainer {
        .centerMenuCategories {
            display: block;
            display: flex;
            gap: 1rem;

            @include p-desktop-default();

            a {
                text-decoration: none;
                color: $text-one;

                &:hover {
                    color: $blue-brand;
                }
            }
        }
    }
}